@import "tailwindcss";



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #030712;
  color: white;
  font-family: 'Inter', -apple-system, sans-serif;
}

/* Monaco editor scrollbar */
.monaco-editor .scrollbar {
  background: transparent !important;
}

[data-sonner-toaster] {
  z-index: 999999 !important;
}




::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}