@import "tailwindcss";



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #030712;
  color: white;
  font-family: 'Inter', -apple-system, sans-serif;
}

/* Monaco editor scrollbar */
.monaco-editor .scrollbar {
  background: transparent !important;
}